* {
    margin: 0px;
}
button {
    display: block;
}
#search {
    font-weight: bold;
    color: lightseagreen;
    background-color: azure;
    border-color:lightseagreen;
    width: 8rem;
    padding: .2rem;
    border-radius: 15px;
    margin: 50px 50px 5px;
}
#plus {
    font-size: x-large;
    color: white;
    background-color: turquoise;
    border-color:turquoise;
    width: 40px;
    padding: 3px;
    border-radius: 50%;
    margin: 5px 50px;
}
#create_account {
    font-weight: lighter;
    color: white;
    background-color: royalblue;
    border-color:black;
    width: 9rem;
    padding: .3rem;
    margin: 5px 50px;
    box-shadow: 3px 3px black;
}